1-PrimerParcial/Examen1/examen2Avila/src/conf/xml-resources/web-service-references/ProductoWS/wsdl/localhost_8080/examen1Avila-war/ProductoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.examen1Avila.espe.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.examen1Avila.espe.edu.ec/">

<xs:element name="controlCompraProducto" type="tns:controlCompraProducto"/>

<xs:element name="listarTodos" type="tns:listarTodos"/>

<xs:element name="listarTodosResponse" type="tns:listarTodosResponse"/>

<xs:complexType name="controlCompraProducto">
<xs:sequence>
<xs:element name="codProducto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidadCompra" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarTodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarTodosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="existencia" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>